<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td>
                <td>
                    {{!-- <img src="{{logoUrl}}" alt="Oryzon Logo" style="width: 25px; height: 25px;"> --}}
                </td>

                {{!-- <td align="center" colspan="4" style="
                    background-image: url('{{badgeImageUrl}}');
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                    padding: 20px;
                    max-width: 300px;
                    margin: auto;">
                </td> --}}

                <td colspan="4">
                    <p>{{receiver}}</p>
                    <p>{{content}}</p>
                </td>
            </td>
        </tr>
    </table>
</body>
</html>