<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td colspan="4" align="center">
                <h1>Google Authenticator Setup for 2FA</h1>
            </td>
        </tr>

        <tr>
            <td colspan="4" align="center">
                <p>Use this code to set up your google authenticator</p>
                {{!-- <img src="{{qrCodeURL}}" alt="QR code"> --}}
                <p>{{secret}}</p>
            </td>
        </tr>
    </table>
</body>
</html>